@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h3>@ViewBag.Title <small>查看@(ViewBag.Title)详细信息</small></h3>
</div>
@{
    ViewBag.Title = ViewBag.Title + " - " + Resources.Resource.Details;
}
@RenderBody()
@section scripts{
    @RenderSection("scripts", required: false)
}
@section styles{
    @RenderSection("styles", required: false)
} 

